.App {
  text-align: center;
}

.board {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 320px;
  height: 320px;
}

.row {
  display: flex;
}

.square {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.light {
  background-color: #f0f0f0;
}

.dark {
  background-color: #4db6ac;
}

.piece {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.piece.white {
  background-color: white;
  border: 1px solid black;
}

.piece.red {
  background-color: red;
  border: 1px solid black;
}

.valid-move {
  background-color: yellow !important;
  /* Highlight valid moves */
}